 /* Full credit to code.org for task */
  body{ 
    background-image: repeating-linear-gradient(#7db57d,#5b865b,#377637);
    
  }
p {
  color: black;
  font-family: 'Allan';
  font-size: 3em;
  background-color: white;
  text-align: center;
}
h1 {
  color: #000000;
  font-family:'Allan';
  text-align: center;
  text-shadow: 3px 3px white;
  font-size:5.5em;
  
}
img{
  height:450px;
  width: 450px;
  border: 5px;
  border-color: black;
  border-style: dashed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px white;
   
  }
  


